<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppUNAC"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".admin_modificarusuario"
            android:exported="false" />
        <activity
            android:name=".usuario_historialpagos"
            android:exported="false" />
        <activity
            android:name=".docente_tareas"
            android:exported="false" />
        <activity
            android:name=".docente_asistenciamodificar"
            android:exported="false" />
        <activity
            android:name=".admin_tramites"
            android:exported="false" />
        <activity
            android:name=".admin_pagos"
            android:exported="false" />
        <activity
            android:name=".admin_registroacademico"
            android:exported="false" />
        <activity
            android:name=".docente_asistencias_list"
            android:exported="false" />
        <activity
            android:name=".docente_asistencia"
            android:exported="false" />
        <activity
            android:name=".usuario_asistensia"
            android:exported="false" />
        <activity
            android:name=".docente_biblioteca"
            android:exported="false" />
        <activity
            android:name=".usuario_tramites"
            android:exported="false" />
        <activity
            android:name=".MatriculaCurso_usuario"
            android:exported="false" />
        <activity
            android:name=".usuario_pagar"
            android:exported="false" />
        <activity
            android:name=".admin_modificarcurso"
            android:exported="false" />
        <activity
            android:name=".admin_ingles"
            android:exported="false" />
        <activity
            android:name=".admin_cursonuevo"
            android:exported="false" />
        <activity
            android:name=".Docente_Meet"
            android:exported="false" />
        <activity
            android:name=".Admin_cuenta"
            android:exported="false" />
        <activity
            android:name=".admin_listacursos"
            android:exported="false" />
        <activity
            android:name=".docente_modificarnota"
            android:exported="false" />
        <activity
            android:name=".docente_registronotas"
            android:exported="false" />
        <activity
            android:name=".docente_ingles"
            android:exported="false" />
        <activity
            android:name=".docente_curso"
            android:exported="false" />
        <activity
            android:name=".admin_registrarnuevo"
            android:exported="false" />
        <activity
            android:name=".Admin_listausuario"
            android:exported="false" />
        <activity
            android:name=".Admin_listausuarios"
            android:exported="false" />
        <activity
            android:name=".CursoLinks"
            android:exported="false" />
        <activity
            android:name=".registronotas"
            android:exported="false" />
        <activity
            android:name=".InglesBasico1"
            android:exported="false" />
        <activity
            android:name=".Registroacademico_usuario"
            android:exported="false" />
        <activity
            android:name=".cursos_usuario"
            android:exported="false" />
        <activity
            android:name=".horarioacademico_usuario"
            android:exported="false" />
        <activity
            android:name=".Deudas_usuario"
            android:exported="false" />
        <activity
            android:name=".Matricula_usuario"
            android:exported="false" />
        <activity
            android:name=".menu_administrador"
            android:exported="false" />
        <activity
            android:name=".menu_docente"
            android:exported="false" />
        <activity
            android:name=".menuUsuario"
            android:exported="false" />
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>